/*----------------------------------FOOTER-------------------------------------------------*/
.attribution { 
    font-size: 0.75em; 
    font-family: 'Red Hat Display', sans-serif;;
    text-align: center;
    color: var(--Darkblue);
}
.attribution a { 
    color: white;
    background: var(--Darkblue);
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid var(--Darkblue);
    transition: all .4s ease-in-out;
 }

 .attribution a:hover {
     background: transparent;
     color: var(--Darkblue);
 }

/*---------------------------------VARIABLES AND ASSETS------------------------------------------*/

    :root {
        --Paleblue: hsl(225, 100%, 94%);
        --Brightblue: hsl(245, 75%, 52%);
        --Desaturatedbrightlblue: hsl(245, 74%, 71%);
        --Verypaleblue: hsl(225, 100%, 98%);
        --Desaturatedblue: hsl(224, 23%, 55%);
        --Darkblue: hsl(223, 47%, 23%);
        --VeryLightgray: hsl(192, 16%, 94%);
    }

    @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


    /*------------------------------MAIN STRUCTURE-----------------------------------------------*/

    #background {
        background-color: var(--Paleblue);
        background-image: url(images/pattern-background-mobile.svg);
        background-repeat:no-repeat;
        margin: 0;
    }

    #general {
        font-size: 1.125em;
        height: 140vh;
        width: 100%;
        display: grid;
        place-items: center;
    }

    #card {
        display: grid;
        grid-template-rows: 220px 1fr;
        border-radius: 20px;
        overflow: hidden;
        width: 90%;
        height: 120vh;
        margin: 60px auto;
        box-shadow: -1px 22px 44px -25px rgba(31,47,86,0.75);
        -webkit-box-shadow: -1px 22px 44px -25px rgba(31,47,86,0.75);
        -moz-box-shadow: -1px 22px 44px -25px rgba(31,47,86,0.75);
    }

    #wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: var(--Verypaleblue);
        font-family: 'Red Hat Display', sans-serif;
        width: 100vw;
    }

    #plan {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: rgb(243, 243, 243);
        border-radius: 12px;
        width: 85%;
    }


    /*----------------------------------------CONTENT--------------------------------------------------*/


    #wrapper .summary {
        font-weight:  900;
        color: var(--Darkblue);
        padding-top: 20px;
    }

    #wrapper .description {
        font-weight: 500;
        font-size: 1em;
        color: var(--Desaturatedblue);
        text-align: center;
        line-height: 1.70em;
    }

    #wrapper #plan .selections {
        margin-right: 30px;
        margin-left: -20px;
        line-height: 0.30em;
        }

    #wrapper #plan .selections .annual {
        color: var(--Darkblue);
    }

    #wrapper #plan .selections .cost {
        color: var(--Desaturatedblue);
    }

    #wrapper #plan .change {
        justify-self: right;
        color: var(--Brightblue);
        font-weight: 500;
    }

    #wrapper #plan .change:hover {
        text-decoration: none;
        
    }

    #wrapper .payment {
        background: var(--Brightblue);
        color: var(--Paleblue);
        padding: 20px 93px;
        border-radius: 12px;
        box-shadow: -1px 20px 55px -20px  var(--Darkblue);
        -webkit-box-shadow: -1px 20px 55px -20px var(--Darkblue);
        -moz-box-shadow: -1px 20px 55px -20px var(--Darkblue)
    }

    #wrapper .payment:hover {
        background: var(--Desaturatedbrightlblue);
        transition: all .3s ease-in-out;
    }

    #wrapper .cancel {
        font-weight: 700;
        color: var(--Desaturatedblue);
        padding-bottom: 25px;
    }

    #wrapper .cancel:hover {
        color: var(--Darkblue);
        transition: all .3s ease-in-out;
    }

    /*-----------------------------------------MEDIA QUERIES--------------------------------------*/

    @media screen and (min-width: 460px) {
        #background {
            background-color: var(--Paleblue);
            background-image: url(images/pattern-background-desktop.svg);
            background-repeat:no-repeat;
        }

        #card {
            width: min-content;
        }

        #wrapper {
            width: auto;
        }
    }  
        